@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ddede7;
  --foreground: #2a2e2d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-opacity {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.custom-star-list li::before {
  content: "★";  /* Unicode for star symbol */
  margin-right: 8px; /* Space between the star and the list item */
}

.scroll-hidden {
  overflow: hidden;  /* Prevents scrollbars from appearing */
  -ms-overflow-style: none;  /* For IE and Edge */
  scrollbar-width: none;  /* For Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;  /* For Webkit browsers (Chrome, Safari) */
}
